<!DOCTYPE>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Copse" rel="stylesheet">
    <style>
      .myFont {
        font-family: 'Copse', serif;
      }
      .text-center {
        text-align: center !important;
      }
    </style>
  </head>

  <body>

    <div style="background: purple;">
      <div class="text-center" style="background: white; border: 5px solid purple; border-radius: 20px;">
        <p class="myFont text-center" style="font-size: 30px; font-weight: bold; margin-top: 20px;
        padding-top: 10px; color: purple;">Registration Successful!!!</p>
      </div>
      <div class="myFont text-center">
        <h2 style="color: white; font-size: 30px; margin: 30px 30px;">Hi there {{userFirstName}}. You have registered succesfully and now became an esteemed member of the Task Manager App. We are delighted to have you onboard...</h2>
      </div>
      <div class="text-center" style="background: white; border: 5px solid purple; border-radius: 20px; margin-top: 30px;">
        <p class="myFont" style="font-size: 15px; font-weight: bold; color: purple;">&copy; Made With &hearts; by stillNovice</p>
      </div>
    </div>

  </body>

</html>